.banner {
  background-size: cover;
  background-position: center;
  background-position: 100% 40%;
  // padding: 150px 0;
  margin-top: 0px;
  height: 620px;

  .container {
    padding-top: 250px;
    font-family: Montserrat;
  }
}

.banner h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-style: normal;
  font-weight: bold;
  font-family: Montserrat;

}

.banner p {
  font-size: 20px;
  color: #495773;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #E16B33;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #D94630;
  color: white;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #F0EBE5;
    background-clip: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 0.25rem;
    margin: auto;
    margin-top: 0 px;

}
.nav-pills .nav-link.active {
    border: 1px solid gray;
    background-color: #E16B33;
    text-shadow: 1px 1px black;
    color: white;
}
.nav-pills .nav-link {
    font-size: 16px;
    font-family: 'sans-serif';
    font-weight: 300;
    color: #999;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid lightgray;
}

#alert-html-tab {
margin-left: 100px;
font-family: Monserrat;
color:  #495773 !important;
text-transform: uppercase;
background:  #F0EBE5;
padding: 12px;
border: 2px solid  #495773 !important;
border-radius: 6px;
transition: all 0.3s ease 0s;
justify-content: space-between;
}

#alert-html-tab:hover {
font-family: Monserrat;
color: #D94630 !important;
border-radius: 50px;
border-color: #D94630 !important;
transition: all 0.3s ease 0s;
}

#alert-css-tab {

font-family: Monserrat;
color:  #495773 !important;
text-transform: uppercase;
background:  #F0EBE5;
padding: 12px;
border: 2px solid  #495773 !important;
border-radius: 6px;
transition: all 0.3s ease 0s;
justify-content: space-between;
}

#alert-css-tab:hover {
font-family: Monserrat;
color: #D94630 !important;
border-radius: 50px;
border-color: #D94630 !important;
transition: all 0.3s ease 0s;
}

.card .card-header {
  // border-bottom: 1px solid gray;
  margin-left: 0px;
  background: #F0EBE5;
}

#view {
  background: #F0EBE5;


}

.card .card-container-title {
  color: #E16B33;
  margin-left: 120px;
  font-size: 45px;
  margin-top: 40px
}

.nav .nav-link {
    transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    display: inline-block;
    color: black;
}

.nav-pills .nav-link {
    border-radius: 0.25rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.card .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 4px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 400px;
  height: 325px;
  margin: 20px;
  display: inline-block;
  border-radius: 4px;
  &:hover {
    box-shadow: 2px 2px 15px 5px rgba(0,0,0,0.2);
  }
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 4px;
}

.card-trip .restaurant-name {
  margin-left: 10px;
  color: #D94630;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  padding-top: 8px;
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
  position: relative;

  text-decoration: none;
  color: black;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip .card-specifics {
  display: inline-flex;
  justify-content: space-between;
  padding-left: 15px;

  text-decoration: none;
  color: black;
}

.card-specifics .specific {
  background: lightgray;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 2px;
  margin-right: 10px;
}

a.resto-card {
  text-decoration: none;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #D94630;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.mapview-container {
  display: flex;

  #map {
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 40%;
    height: 55vh;
    box-shadow: 0 0 15px lightgray;
    position: sticky;
    top: 0;
    margin-top: 15px;
    margin-left: 10px;
  }

  .card-list {
    display: inline;
    width: 60%;

    .card-product {
      margin-bottom: 15px;
      margin-right: 10px;
      border-radius: 4px;
      height: 200px;
      display: flex;
      justify-content: space-between;

      &:hover {
        box-shadow: 2px 2px 15px 5px rgba(0,0,0,0.2);
      }

      .img-title {
        display:flex;
        width: 600px;

        .card-product-img {
          width: 200px;
          height: 200px;
        }

        .card-product-infos {
          text-decoration: none;
          color: black;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

        .product-title {
          font-size: 24px;
        }
      }


      }

      .card-product-specifics {
        width: 250px;

        .product-specific {
          font-size: 18px;
          margin-bottom: 20px;
          margin-top: 20px;

          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
.orange  {
  background-color: #F2C94C !important;
}
