body {
  background-color: #F0EBE5;
}

h1 {
color:#E16B33;
margin-top: 20px;
margin-bottom:20px;
font-family: Montserrat;
}

.card-dashboard {
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.card-dashboard img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.card-dashboard h2 {
font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 39px;
}

.card-dashboard p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-dashboard .card-dashboard-infos {
  padding-right: 16px;
  font-size: 10px;
}

.card-dashboard .card-dashboard-infos h2 {
  color: #495773;
  font-size: 40px;
}

.card-dashboard-infos-text {
  padding: 16px;
  font-size: 10px;
  flex-grow: 1;
  width: 60%;
    h2 {
      color: #495773;
      font-size: 16px;
    }

}

.btn-dashboard {
  color: #E16B33;
  border: 1px solid #E16B33;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
   }

.btn-dashboard:hover {
  opacity: 1;
  color: #495773;
  text-decoration: none;
}
